<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Att_taken</title>
    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
</head>
<body>
    <div class="att_cont">
        {% if no_face_reg==False %}    
            {% if match==True %}
        
                {% if already==True %}
                    <p class="att_cont_text">{{name}},</p>
                    <br>
                    <p class="att_cont_text" style="padding-top:15px;"> Your attendance for the day is already recorded !!</p>
                {% else %}

                <div>
                    <p class="att_cont_text">{{name}},</p>
                    <br>
                    <p class="att_cont_text" style="padding-top:15px;"> Your attendance is recorded :)</p>
                </div>

                {% endif %}

            {% else %}

                <div>
                <p  class="att_cont_text">Sorry your face didn't match :(</p>
                </div>
            {% endif %}

        {% else %}
            <div>
            <p  class="att_cont_text">{{name}},your face is not registered :( </p>>
            <br>
            <p  class="att_cont_text" style="padding-top:15px;">Kindly Reregister.</p>
            </div>
        {% endif %}
    
        <div>
        <form action="/", method="POST">
            <button class="buttonatt_cont">Home</button>
        </form>
        <form action="/give_attendance">
            <button class="buttonatt_cont">Continue</button>
        </form>
        </div>

    </div>
</body>
</html>