<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Att_taken</title>
    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
</head>
<body>
    <div class="att_cont">
    {% if match==True %}
        <div>
            <p class="att_cont_text">
                {{name}}, your attendance is recorded :)
            </p>
        </div>

    {% else %}

    <div>
        <p  class="att_cont_text">
            Sorry your face didn't match :(
        </p>
    </div>
    {% endif %}


    <div>
    <form action="/", method="POST">
        <button class="buttonatt_cont">Home</button>
    </form>
    <form action="/give_attendance">
        <button class="buttonatt_cont">Continue</button>
    </form>
</div>
</div> 
</body>
</html>