<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
</head>
<body>
    <div class="row">
        <div class="column">
            <a href="/give_attendance">
            <img class='image_front' alt="Give_attendance" style="width:60%" src="{{ url_for('static',filename='give_attendance.png') }} " >
            <h1 class="text_front" >Give Attendance</h1>
            </a>
        </div>
        <div class="column">
            <a href="/new_registration">
            <img class='image_front' alt="Admin" style="width:60%" src="{{ url_for('static',filename='admin.png') }} " >
            <h1 class="text_front">       Admin</h1>
            </a>
        </div>
        <div class="column">
            <a href="/view_attendance">
            <img class='image_front' alt="View_attendance" style="width:60%" src="{{ url_for('static',filename='view_attendance.png') }} " >
            <h1 class="text_front">View Attendance</h1>
            </a>
        </div>
      </div>

    
</body>
</html>