<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
    <title>Del_User</title>
</head>
<body>

    <div style="margin:0px; padding:0px;">
        <nav>
            <ul class="topnav">
                <li style="cursor: pointer; margin-left: 15px;"><a  href="/">Home</a></li>
                <li style="cursor: pointer; margin-left: 15px;"><a  href="/give_attendance">Give_Attendance</a></li>
                <li style="cursor: pointer; margin-left: 15px;"><a  href="/admin_login">Admin_login</a></li>
                <li style="cursor: pointer; margin-left: 15px;"><a  href="/view_list_att">View_Attendance</a></li>
            </ul>
        </nav>
    </div>

    {% if persons|length <1 %}
        <h1 class="No_reg">There are no registrations!!</h1>

    {% else %}

        <table class="people_list">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>View_Attendance</th>
            </tr>
        
            {% for person in persons %}
            <tr>
                <td>{{ person.Id }}</td>
                <td>{{ person.name }}</td>
                <td><a href="/remove_user/{{person.sno}}">Delete User</a></td> 
            </tr>
            {% endfor %}

        </table>

    {% endif %}

</body>
</html>