<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
    <title>View_Attendance</title>
</head>
<body>
    {% if persons|length <1 %}
        <h1>There are no registrations!!</1>h1>
     {% else %}
    <table class="people_list">
        <tr>
            <th>S.No.</th>
            <th>Id</th>
            <th>Name</th>
            <th>View_Attendance</th>
        </tr>
        
        {% for person in persons %}
        <tr>
            <td>{{ person.sno }}</td>
            <td>{{ person.Id }}</td>
            <td>{{ person.name }}</td>
            <td>
                <a href="/show_att/{{person.Id}}">View Attendance</a>
            </td> 
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>
</html>